/Adding__gitignore_file__Handling_of_users_adding_feature.patch
/SplitwiseProject/target/classes/com/splitwiseapp/Application.class
/SplitwiseProject/target/classes/application.properties
/SplitwiseProject/target/test-classes/com/splitwiseapp/ApplicationTests.class
/SplitwiseProject/target/classes/com/splitwiseapp/entity/Bill.class
/SplitwiseProject/target/classes/com/splitwiseapp/repository/BillRepository.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/bills/BillService.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/bills/BillServiceImpl.class
/.idea/compiler.xml
/SplitwiseProject/.idea/compiler.xml
/SplitwiseProject/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/SplitwiseProject/target/classes/com/splitwiseapp/dto/users/CustomUserDetails.class
/.idea/encodings.xml
/SplitwiseProject/.idea/encodings.xml
/SplitwiseProject/target/classes/com/splitwiseapp/entity/Event$EventBuilder.class
/SplitwiseProject/target/classes/com/splitwiseapp/entity/Event.class
/SplitwiseProject/target/classes/com/splitwiseapp/controller/EventController.class
/SplitwiseProject/target/classes/com/splitwiseapp/dto/events/EventCustomDetails.class
/SplitwiseProject/target/classes/com/splitwiseapp/dto/events/EventDto.class
/SplitwiseProject/target/classes/com/splitwiseapp/repository/EventRepository.class
/SplitwiseProject/target/classes/templates/events.html
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2023_22_33_[Changes]/EventsController.class
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2023_22_33_[Changes]/EventsEntity.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/events/EventService.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/events/EventServiceImpl.class
/SplitwiseProject/target/classes/templates/index.html
/SplitwiseProject/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/jarRepositories.xml
/SplitwiseProject/.idea/jarRepositories.xml
/SplitwiseProject/target/classes/templates/login.html
/SplitwiseProject/target/classes/com/splitwiseapp/controller/LoginController.class
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_4_11.xml
/SplitwiseProject/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_4_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_11.xml
/SplitwiseProject/.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_11.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_15_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_15_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_15_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_15_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_15_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_15_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_15_2.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_8_0.xml
/SplitwiseProject/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_8_0.xml
/.idea/libraries/Maven__com_mysql_mysql_connector_j_8_0_33.xml
/SplitwiseProject/.idea/libraries/Maven__com_mysql_mysql_connector_j_8_0_33.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_4_1_2.xml
/SplitwiseProject/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_4_1_2.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/SplitwiseProject/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_5_0_1.xml
/SplitwiseProject/.idea/libraries/Maven__com_zaxxer_HikariCP_5_0_1.xml
/.idea/libraries/Maven__io_micrometer_micrometer_commons_1_11_4.xml
/SplitwiseProject/.idea/libraries/Maven__io_micrometer_micrometer_commons_1_11_4.xml
/.idea/libraries/Maven__io_micrometer_micrometer_observation_1_11_4.xml
/SplitwiseProject/.idea/libraries/Maven__io_micrometer_micrometer_observation_1_11_4.xml
/.idea/libraries/Maven__io_smallrye_jandex_3_0_5.xml
/SplitwiseProject/.idea/libraries/Maven__io_smallrye_jandex_3_0_5.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_2.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_1.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_1.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_3_1_0.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_3_1_0.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_2_0_1.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_2_0_1.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_2.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_4_0_1.xml
/SplitwiseProject/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_4_0_1.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_14_8.xml
/SplitwiseProject/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_14_8.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_14_8.xml
/SplitwiseProject/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_14_8.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_11.xml
/SplitwiseProject/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_11.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_11.xml
/SplitwiseProject/.idea/libraries/Maven__net_minidev_json_smart_2_4_11.xml
/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_10_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_10_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_20_0.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_20_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_20_0.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_20_0.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_10_1_13.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_10_1_13.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_10_1_13.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_10_1_13.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_10_1_13.xml
/SplitwiseProject/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_10_1_13.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/SplitwiseProject/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_20.xml
/SplitwiseProject/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_20.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_24_2.xml
/SplitwiseProject/.idea/libraries/Maven__org_assertj_assertj_core_3_24_2.xml
/.idea/libraries/Maven__org_attoparser_attoparser_2_0_7_RELEASE.xml
/SplitwiseProject/.idea/libraries/Maven__org_attoparser_attoparser_2_0_7_RELEASE.xml
/.idea/libraries/Maven__org_eclipse_angus_angus_activation_2_0_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_eclipse_angus_angus_activation_2_0_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_core_4_0_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_core_4_0_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_4_0_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_4_0_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_4_0_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_glassfish_jaxb_txw2_4_0_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/SplitwiseProject/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_6_0_6_Final.xml
/SplitwiseProject/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_6_0_6_Final.xml
/.idea/libraries/Maven__org_hibernate_orm_hibernate_core_6_2_9_Final.xml
/SplitwiseProject/.idea/libraries/Maven__org_hibernate_orm_hibernate_core_6_2_9_Final.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_8_0_1_Final.xml
/SplitwiseProject/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_8_0_1_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_5_3_Final.xml
/SplitwiseProject/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_5_3_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_3.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_3.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_3.xml
/.idea/libraries/Maven__org_mockito_mockito_core_5_3_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_mockito_mockito_core_5_3_1.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_5_3_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_5_3_1.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_objenesis_objenesis_3_3.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/SplitwiseProject/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_3.xml
/SplitwiseProject/.idea/libraries/Maven__org_ow2_asm_asm_9_3.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_30.xml
/SplitwiseProject/.idea/libraries/Maven__org_projectlombok_lombok_1_18_30.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_2_0_9.xml
/SplitwiseProject/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_2_0_9.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_9.xml
/SplitwiseProject/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_9.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jdbc_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jdbc_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_3_1_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_3_1_4.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_1_4.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jdbc_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_data_spring_data_jdbc_3_1_4.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_3_1_4.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_relational_3_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_data_spring_data_relational_3_1_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_6_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_security_spring_security_config_6_1_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_6_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_security_spring_security_core_6_1_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_6_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_6_1_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_6_1_4.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_security_spring_security_web_6_1_4.xml
/.idea/libraries/Maven__org_springframework_spring_aop_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_aop_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_aspects_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_beans_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_beans_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_context_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_context_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_core_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_core_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_expression_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_expression_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_jcl_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_jdbc_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_orm_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_orm_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_test_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_test_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_tx_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_tx_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_web_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_web_6_0_12.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_6_0_12.xml
/SplitwiseProject/.idea/libraries/Maven__org_springframework_spring_webmvc_6_0_12.xml
/.idea/libraries/Maven__org_thymeleaf_extras_thymeleaf_extras_springsecurity6_3_1_2_RELEASE.xml
/SplitwiseProject/.idea/libraries/Maven__org_thymeleaf_extras_thymeleaf_extras_springsecurity6_3_1_2_RELEASE.xml
/.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_1_2_RELEASE.xml
/SplitwiseProject/.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_1_2_RELEASE.xml
/.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring6_3_1_2_RELEASE.xml
/SplitwiseProject/.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring6_3_1_2_RELEASE.xml
/.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
/SplitwiseProject/.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_1.xml
/SplitwiseProject/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_1.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
/SplitwiseProject/.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
/SplitwiseProject/target/classes/com/splitwiseapp/service/members/MemberService.class
/.idea/misc.xml
/SplitwiseProject/.idea/misc.xml
/SplitwiseProject/.idea/modules.xml
/SplitwiseProject/target/classes/templates/new-event.html
/SplitwiseProject/target/classes/templates/profile.html
/RightSplitwise/project.iml
/SplitwiseProject/project.iml
/SplitwiseProject/target/classes/templates/register.html
/SplitwiseProject/target/classes/com/splitwiseapp/entity/Role.class
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2023_22_33_[Changes]/RoleEntity.class
/SplitwiseProject/target/classes/com/splitwiseapp/repository/RoleRepository.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/roles/RoleService.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/roles/RoleServiceImpl.class
/SplitwiseProject/.idea/runConfigurations.xml
/SplitwiseProject/target/classes/com/splitwiseapp/security/SecurityConfig.class
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2023_22_33_[Changes]/shelved.patch
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_28_10_2023_00_10_[Changes]/shelved.patch
/SplitwiseProject/.idea/uiDesigner.xml
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_2.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_3.xml
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2023_22_33__Changes_.xml
/SplitwiseProject/.idea/shelf/Uncommitted_changes_before_Update_at_28_10_2023_00_10__Changes_.xml
/SplitwiseProject/target/classes/com/splitwiseapp/entity/User$UserBuilder.class
/SplitwiseProject/target/classes/com/splitwiseapp/entity/User.class
/SplitwiseProject/target/classes/com/splitwiseapp/dto/users/UserDto.class
/SplitwiseProject/target/classes/com/splitwiseapp/controller/UserMenuController.class
/SplitwiseProject/target/classes/com/splitwiseapp/repository/UserRepository.class
/SplitwiseProject/target/classes/templates/users.html
/SplitwiseProject/target/classes/com/splitwiseapp/service/users/UserService.class
/SplitwiseProject/target/classes/com/splitwiseapp/service/users/UserServiceImpl.class
/SplitwiseProject/target/classes/com/splitwiseapp/shared/UserUtils.class
/.idea/vcs.xml
/SplitwiseProject/.idea/vcs.xml
/.idea/workspace.xml
/SplitwiseProject/.idea/workspace.xml
/.idea/shelf